<ion-view view-title="Announcement">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item ng-repeat="announcement in AnnCtrl.listOfAnnouncements()"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.announcementDetail({id: announcement.id})">
        <img src="main/assets/images/announcements.jpeg">
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
